<html>
<head>

</head>
<body>
    <h1>Species Prediction</h1>
    <form action = "/species" method = 'POST'>
        <label>SL:</label><br>
        <input type = "text" name = "SL"><br><br>
        <label>SW:</label><br>
        <input type = "text" name = "SW"><br><br>
        <label>PL:</label><br>
        <input type = "text" name = "PL"><br><br>
        <label>PW:</label><br>
        <input type = "text" name = "PW"><br><br>
        <input type = "Submit" value ="Species"> {{pred}}

</form>
</body>


</html>